@tailwind base;
@tailwind components;
@tailwind utilities;

/* source-serif-4-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Serif 300";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/source-serif-4-v8-latin-300.woff2") format("woff2");
}
/* source-serif-4-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Source Serif 400";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/source-serif-4-v8-latin-regular.woff2") format("woff2");
}
/* source-serif-4-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Serif 500";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/source-serif-4-v8-latin-500.woff2") format("woff2");
}
/* source-serif-4-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Serif 600";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/source-serif-4-v8-latin-600.woff2") format("woff2");
}
/* source-serif-4-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Serif 700";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/source-serif-4-v8-latin-700.woff2") format("woff2");
}
