@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Poppins-300";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/poppins-v22-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins-500";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/poppins-v22-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins-600";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins-v22-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins-700";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/poppins-v22-latin-700.woff2") format("woff2");
}

::-webkit-scrollbar {
  display: none;
}
@layer base {
  body {
    font-family: "Poppins", "sans-serif";
  }
}
@layer utilities {
  /* Menghilangkan spinner di input number */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  input[type="number"] {
    @apply appearance-none;
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    height: 40px;
    aspect-ratio: 1.5;
    --c: no-repeat linear-gradient(#f27121 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 33.4% 50%;
    animation: l3 2s infinite linear;
  }
  @keyframes l3 {
    0% {
      background-position:
        0 0,
        50% 0,
        0 100%,
        50% 100%;
    }
    12.5% {
      background-position:
        0 0,
        100% 0,
        0 100%,
        50% 100%;
    }
    25% {
      background-position:
        50% 0,
        100% 0,
        0 100%,
        50% 100%;
    }
    37.5% {
      background-position:
        50% 0,
        100% 0,
        0 100%,
        100% 100%;
    }
    50% {
      background-position:
        50% 0,
        100% 0,
        50% 100%,
        100% 100%;
    }
    62.5% {
      background-position:
        0 0,
        100% 0,
        50% 100%,
        100% 100%;
    }
    75% {
      background-position:
        0 0,
        50% 0,
        50% 100%,
        100% 100%;
    }
    87.5% {
      background-position:
        0 0,
        50% 0,
        0 100%,
        100% 100%;
    }
    100% {
      background-position:
        0 0,
        50% 0,
        0 100%,
        50% 100%;
    }
  }
}
